@using Microsoft.AspNet.Identity
<link rel="stylesheet" type="text/css" href="~/Content/css/dropdown.css">

<section class="header-1">

    @Html.Partial("_FilterBooks")

    <form action="@Url.Action("SearchFromSearchBar", "Search")" class="search-form" method="get">
        <input type="search" name="keyword" class="form-control" placeholder="Search here..." id="search-box" onkeypress="handleKeyPress(event)">
        <label for="search-box" class="fas fa-search search-icon" onclick="searchByKeyword()"></label>
    </form>

    @Html.Partial("_AccountDropDownList")

</section>

<div class="header-2">
    <nav class="navbar">
        <a href="@Url.Action("Index","Home")">home</a>
        <a href="#featured">featured</a>
        <a href="#arrivals">arrivals</a>
        <a href="#reviews">reviews</a>
        <a href="#blogs">blogs</a>
    </nav>
</div>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Jquery_scripts/getAllBooks.js"></script>

<script>
    function searchByKeyword() {
        var keyword = document.getElementById('search-box').value;
        document.querySelector('.search-form').submit();
    }

    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            searchByKeyword();
        }
    }
</script>
