
@{
    ViewBag.Title = "Confirmation Email Send";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<div class="container d-flex justify-content-center align-content-center flex-column" style="margin-top:100px;margin-bottom:100px">
    <h2>Email Confirmation</h2>
    <p style="font-size:15px">
        Please check your email to confirm your account.
    </p>
</div>
